<html>
    <head>
        <title>RedisTasks</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <style>
            .del:checked + span {
                color: red;
            }
            .task-list {
                list-style: none;
            }
            body {
                font-size: 10px;
            }
            .left-pane {
                width: 100px;
            }
        </style>

    </head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="#">RedisTasks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
          
              <main role="main" class="container">
          
    <div class="starter-template"><br />
        <form method="post" action="/task/add">
            <label>Add Task</label>
            <input type="text" name="task" placeholder="Add Task" />
            <input type="submit" value="Submit" />
        </form>


        <h5><%= title %></h5>

        <form method="post" action="/task/delete">
            <ul class="task-list">
                <% tasks.forEach((task) => { %>
                    <li>
                        <label>
                            <input type="checkbox" name="tasks" class="del" value="<%=task%>" />
                            <span><%= task %></span>
                        </label>
                    </li>
                
                <% }) %>
            </ul>
            <input type="submit" value="Remove" />
        </form>

        <div class="card card-body bg-light">
                <h5>Next Business Call</h5>
                Name: <%= call.name %><br>
                Company: <%= call.company %><br>
                Phone: <%= call.phone %><br>
                Time: <%= call.time %><br>
        </div>
        <br />
        <div class="card card-body bg-light">
                <h5>Edit Next Call</h5>
                <form method="post" action="/call/add">
                    <label class="left-pane">Contact Name</label>
                    <input type="text" name="name" placeholder="Task Name">
                    <br><br>
                    <label class="left-pane">Company</label>
                    <input type="text" name="company" placeholder="Company">
                    <br><br>
                    <label class="left-pane">Phone</label>
                    <input type="text" name="phone" placeholder="Phone">
                    <br><br>
                    <label class="left-pane">Day & Time</label>
                    <input type="text" name="time" placeholder="Time">
                    <br><br>
                    <input type="submit" value="Submit" />
                </form>
        </div>
    </div>
    </main>
</body>
</html>